:root {
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-primary-black: #0a0a0aff;
  --dl-color-primary-white: #ecebe4ff;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  font-size: 24px;
  font-family: Outfit;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.input {
  color: var(--dl-color-primary-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-primary-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-primary-white);
}
.textarea {
  color: var(--dl-color-primary-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-primary-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-primary-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: flex;
  padding: 0px 0px 0px 1.5rem;
  flex-wrap: wrap;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  flex: auto;
  width: 50%;
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.content {
  font-size: 32px;
  font-family: Outfit;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
  text-transform: none;
  text-decoration: none;
}
.heading {
  font-size: 36px;
  font-family: Outfit;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
